.adminContainer {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../../images/bg/about.png");
        background-size: cover;
        background-position: center;
        filter: blur(2px);
    }
}
